* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  color: #333;
  background-color: #efefef;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

p {
  font-style: italic;
}

a {
  text-decoration: none;
  border-bottom: 4px dotted;
}

.box {
  background: papayawhip;
  width: 80vw;
  padding: 0 15px;
  margin: 50px 0;
  border: 5px dashed deepskyblue;
}

.headline2 {
  color: deeppink;
}

.middle-p {
  background: azure;
  padding: 20px;
  text-align: end;
}

.box2 {
  width: 50vh;
  padding: 0 20px 10px 20px;
  background: hotpink;
  border: 5px groove palegoldenrod;
  box-shadow: black;
  margin: 0 auto;
}

.box3 {
  background-color: aquamarine;
  border: 2px dotted purple;
}
